@import url(./base.css);

.modal-container {
    z-index: 99;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(22, 22, 24, 0.4);

    pointer-events: none;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.modal-container.active {
    pointer-events: all;
    opacity: 1.0;
}

.modal-container .order-modal {
    padding: 30px;

    max-width: 800px;
    max-height: 600px;

    border: 2px solid;
    border-color: rgb(43, 43, 44);
    border-radius: 20px;

    background-color: rgb(32, 32, 34);

    border: 1px solid var(--ev-c-gray-2);
    border-radius: 10px;

    box-shadow: 0px 0px 50px rgba(109, 23, 153, 0.1);
}

.modal-container .order-modal h2 {
    color: #FFFAFA;
}

.modal-container .order-modal button {
    color: rgb(22, 22, 24);
    background-color: #FFFAFA;
    border: 1px solid;
    border-color: rgb(33, 33, 34);
}

.modal-container .order-modal .textfield {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container .order-modal .text-input {
    width: 300px;

    color: #FFFAFA;
    text-align: left;

    border: 2px solid var(--ev-c-gray-2);
    border-radius: 5px;

    background-color: rgb(43, 43, 44);
    margin: 20px;
    padding: 5px;
}

.modal-container .order-modal .save-btn {
    max-width: 80px;
    text-align: center;

    border: 2px solid var(--ev-c-gray-2);

    margin: auto;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;

    transition: background-color 0.4s ease;
}

.modal-container .order-modal .save-btn:hover {
    background-color: rgba(109, 23, 153, 0.6);
    transition: background-color 0.1s;
}