.loading-screen-container {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(32, 32, 34);
}