@import url(./base.css);

/******************/
/* MAIN CONTAINER */
/******************/

div.taskbar-container {
  z-index: 100;
  -webkit-app-region: drag;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;

  align-items: center;
  justify-content: center;

  height: 45px;
  padding: 4px;

  background-color: rgba(32, 32, 34, 0.9);
  backdrop-filter: blur(50px);
  border-bottom: 1px solid var(--ev-c-gray-2);
}

/****************/
/* WINDOW TITLE */
/****************/

div.taskbar-container div.window-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--ev-c-text-1);
}

/******************************/
/* MENU BAR & WINDOW CONTROLS */
/******************************/

div.taskbar-container div.window-menu {
  display: flex;
  
  align-items: center;
  justify-content: center;

  margin-left: 0;
  margin-right: auto;
}

div.taskbar-container div.window-controls {
  display: flex;

  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: 0;
}

/***********/
/* BUTTONS */
/***********/

div.taskbar-container button {
  -webkit-app-region: no-drag;

  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;

  border: none;
  border-radius: 5px;

  background-color: rgba(32, 32, 34, 0.0);
  color: var(--ev-c-text-2);

  transition: 
    color 0.2s ease,
    background-color 0.2s ease;
}

div.taskbar-container button:hover {
  background-color: var(--color-background-mute);
  color: var(--ev-c-text-1);
}

div.taskbar-container button.controls-button.exit:hover {
  background-color: rgb(200, 0, 0);
}

/*************/
/* DROPDOWNS */
/*************/

div.taskbar-container div.dropdown-menu {
  display: none;
  position: absolute;

  padding: 2px;

  border: 1px solid var(--ev-c-gray-2);
  border-radius: 5px;

  /* background-color: var(--color-background-soft); */
  background-color: rgba(32, 32, 34, 0.9);
  backdrop-filter: blur(50px);
}

div.taskbar-container div.dropdown-menu.active {
  display: block;
}

div.taskbar-container div.dropdown-menu div.menu-wrapper{
  padding: 0px;
  margin: 0px;
}

div.taskbar-container div.dropdown-menu .menu-option {
  margin: 2px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;

  transition: background-color 0.4s ease;
}

div.taskbar-container div.dropdown-menu .menu-option:hover {
  /* background-color: #6D1799; */
  background-color: rgba(109, 23, 153, 0.6);
  transition: background-color 0.1s;
}