@import url(./base.css);

canvas.glslCanvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div.text-field {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 35px;

  width: 100%;
  height: calc(100% - 35px);
  padding: 5px;

  overflow-y: auto;

  background-color: var(--ev-c-background);
  color: var(--ev-c-text-1);

  outline: 0px solid transparent;
  caret-color: var(--ev-c-text-2);

  font-size: 30px;
}

::selection {
  /* background-color: #6d1799; */
  background-color: rgba(109, 23, 153, 0.75);
}